[include]
    path = ~/.gitconfig-default

[includeIf "gitdir:~/projects/work/"]
    path = ~/.gitconfig-work

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[init]
    templatedir = ~/.config/git/git_repo_template/

[commit]
    template = ~/.config/git/commit_message_template

[core]
    editor = vim
    autocrlf = input
    pager = delta

[merge]
    tool = meld
    conflictstyle = diff3

[alias]
    alias = config --get-regexp alias
    append = commit --amend --no-edit
    authors = contributors
    branches = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    cleanup-branches = ! git branch -D $(git branch | grep -v '^*\\|main\\|master')
    contributors = !git log --no-merges |\
        grep '^Author:' |\
        sed 's/^Author:.//g' |\
        sort |\
        uniq -c |\
        sort -nr
    lg = log --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' \
        --abbrev-commit
    push = push -u
    s = status
    wip = commit --no-verify -am WIP

[push]
    default = current

[pull]
    default = current

[interactive]
    diffFilter = delta --color-only

[delta]
    # https://dandavison.github.io/delta/configuration.html
    navigate = true
    side-by-side = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
