[user]
    name = Denis Costa
    email = deniscostadsc@gmail.com
[color]
    ui = true
[init]
    templatedir = ~/.git_templates/
[core]
    editor = gvim
    autocrlf = input
    excludesfile = ~/.gitignore_global
[merge]
    tool = meld
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
