[user]
    name = Denis Costa
    email = deniscostadsc@gmail.com
    signingkey = ABA7770C38A84DE7

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[init]
    templatedir = ~/.git_templates/

[commit]
    gpgsign = true

[core]
    editor = vim
    autocrlf = input

[merge]
    tool = meld

[alias]
    alias = config --get-regexp alias
    a = add
    b = branch
    c = commit -m
    ca = commit -am
    cl = clone
    ck = checkout
    d = diff
    f = fetch
    g = grep
    l = log
    m = merge
    pl = pull
    plr = pull --rebase
    ps = push
    r = remote
    rb = rebase
    s = status
    lg = log --color --graph \
    --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' \
    --abbrev-commit
    pullify = config --add remote.origin.fetch \
    '+refs/pull/*/head:refs/remotes/origin/pr/*'

[push]
    default = current
