"*":
  core:
    telemetryConsent: "no"
  editor:
    invisibles: {}
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "f559d274-33d0-478b-acf9-49ffd4e226b4"
  welcome:
    showOnStartup: false
