[includeIf "gitdir:~/dev/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/projects/"]
    path = ~/.gitconfig-personal

[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto

[init]
    templatedir = ~/.config/git/git_repo_template/

[commit]
    gpgsign = true
    template = ~/.config/git/commit_message_template

[core]
    editor = vim
    autocrlf = input

[merge]
    tool = meld

[alias]
    a = add
    alias = config --get-regexp alias
    b = branch
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    branches = br
    c = commit
    ca = commit -am
    cached = diff --cached
    ck = checkout
    cl = clone
    cleanup-branchs = ! git branch -d `git branch --merged | grep -v '^*\\|main\\|master'`
    cm = commit -m
    contributors = !git log --no-merges |\
        grep '^Author:' |\
        sed 's/[^<]*<\\|>[^>]*$//g' |\
        sort |\
        uniq -c |\
        sort -nr
    d = diff
    f = fetch
    g = grep
    l = log
    lg = log --color --graph \
        --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' \
        --abbrev-commit
    m = merge
    pl = pull
    plr = pull --rebase
    ps = push -u
    push = push -u
    r = remote
    rb = rebase
    s = status

[push]
    default = current

[pull]
    default = current
